pydantic~=2.11.4
sqlalchemy~=2.0.41
sqlalchemy-stubs
pandas~=2.2.3
spacy~=3.8.6
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
scikit-learn~=1.6.1
tqdm~=4.67.1
nltk~=3.8.1
uvicorn~=0.34.2
fastapi~=0.115.12
ipython~=9.2.0
ipywidgets
nest-asyncio~=1.6.0
kagglehub~=0.3.13
fastapi_camelcase~=2.0.0
psutil~=7.0.0
pytest~=8.4.1
fastapi_camelcase~=2.0.0
numpy~=2.2.6
networkx==3.4.2