.node-info {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 3;
  font-size: small;
  width: 25%;
  min-width: 250px;
  max-width: 450px;
  /* FIXME: max-height subtraction calculated by hand from border, padding, margin and top.*/
  max-height: calc(100vh - 36px);
}